{% extends "quotes/base.html" %}

{% block content %}
    <h2>About These Athletes</h2>
    <p>Lebron James is arguably the best player of all time. His unmatched athleticism and basketball IQ made him dominant for the past two decades, and he keeps on going.</p>
    <p>Kobe Bryant is famous for his Mamba Mentality; his relentless determination won him five NBA championships with the Los Angeles Lakers.</p>
    <p>Michael Jordan is another candidate for the best player of all time as one of the best two-way players the league has ever seen. His record in the NBA Finals is 6-0.</p>
    <hr>
{% endblock %}