<!--Base page (Header + Footer)-->
{% load static %}
<html>
    <head>
        <title>Mini Instagram</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Mini Instagram</h1> <!-- Header -->
        </header>
        <main>
            {% block content %} <!-- Actual content -->
            {% endblock %}
        </main>
        <footer>
            <a href="{% url 'show_all_profiles' %}">See all profiles</a> <!-- Footer Link back to ProfileListView -->
            <a href=""
        </footer>
    </body>
</html>