<!-- Page form for creating a post -->
{% extends "mini_insta/base.html" %}

{% block content %}

<h2>Create a new post</h2>

<!-- Form to submit the creation of a new Post -->
 <form action="{% url 'create_post' profile.pk %}" method="POST" enctype="multipart/form-data"> <!-- Will direct to the create_post URL and POST after submission -->
    {% csrf_token %} <!-- for verification -->
    <table>
        {{form.as_table}} <!-- The actual form-->
    </table>

    <input type="file" id="image_file" name="image_file" multiple> <!-- switched to image file submission -->

    <input type="submit" name="submit" value="Submit">
    <a href="{% url 'show_all_profiles' %}">Cancel</a>
 </form>

{% endblock %}